/* load the default Redmine stylesheet */
@import url(../../responsive.css);

/* theme_darkcolor */
@media screen and (max-width: 899px)
{
#header {
  background-color: #295d72;
}
.flyout-menu{
  background: #253a4a;
}
.flyout-menu h3{
  background-color: #295d72;
  border-top: none;
  border-bottom: none;
}
.flyout-menu #admin-menu a,
.flyout-menu #admin-menu a.selected {
  padding-left: 0 !important;
}
.flyout-menu #admin-menu a svg.icon-svg ,
.flyout-menu #admin-menu a.selected svg.icon-svg {
  stroke: #FFF;
}
}
