/* load the default Redmine stylesheet */
@import url(../../../stylesheets/responsive.css);

/* theme_darkcolor */
@media screen and (max-width: 899px)
{
#header {
  background-color: #295d72;
}
.flyout-menu{
  background: #253a4a;
}
.flyout-menu h3{
  background-color: #295d72;
  border-top: none;
  border-bottom: none;
}

#admin-index #admin-menu a:has(svg) {
  padding-left: 6px !important;
}

#admin-index #admin-menu a svg.icon-svg + .icon-label {
  margin-left: 8px;
}

.flyout-menu #admin-menu a:has(svg),
.flyout-menu #admin-menu a.selected:has(svg) {
  padding-left: 0 !important;
}

.flyout-menu #admin-menu a svg.icon-svg ,
.flyout-menu #admin-menu a.selected svg.icon-svg {
  stroke: #FFF;
}
}
